.example-container {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .example-container h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .example-container .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .example-container img {
    width: 30%;
    display: block;
    margin: 0 auto;
  }
  
  .example-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .example-container p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .example-container .button-container {
    display: flex;
    justify-content: center;
  }
  
  .example-container button {
    font-size: 20px;
    padding: 10px 20px;
    margin-right: 20px;
    color: white;
    background-color: maroon;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .example-container button:hover {
    background-color: gold;
  }